<div class="story-text">
<%= image_tag "shop.png", id: "shop-img", alt: "Shop at night", class: "shop-img"%>
<BR CLEAR=”left” />
  
  <p>
  You continue forwards. 
  </p>
  <p>
  Feeling good about yourself you take some time to peer into the shop windows. 
  Everything is closed, but who doesn’t enjoy a bit of evening window shopping? 
  The further you progress down this narrow street you notice the street lights are no longer working 
  and you find yourself caught in darkness. 
  </p>
  <p>
  Which way do you go? If only you had something to help light up your path...
  </p>

  <% flash.each do |type, msg| %>
    <div class ="alert">
      <%= msg %>
    </div>
  <% end %>
    
  <%= link_to "Left", '/game/page6', class: "page5-button" %>
  <%= link_to "Right", '/game/win', class: "page5-button carrots-0" %>

  <% if @eaten_one_carrot %>
    <%= link_to "Right", '/game/win', class: "page5-button carrots-1" %>
  <% end %>

  <% if @eaten_two_carrots %>
    <%= link_to "Right", '/game/win', class: "page5-button carrots-2" %>
  <% end %>

  <% if @eaten_three_carrots %>
    <%= link_to "Right", '/game/win', class: "page5-button carrots-3" %>
  <% end %>

  <% if @eaten_four_carrots %>
    <%= link_to "Right", '/game/win', class: "page5-button carrots-3" %>
  <% end %>

</div>
