<div class="story-text">
  <p>You run into your old pal Rufus. This guy loves to talk and you really don't have time for his
nonsense right now. After exchanging pleasantries for what felt like an eternity you try to squeeze
 past him but he not so subtly blocks your way.</p>

<p>'I'll let you on your way if you can solve this riddle'</p>

<p>Reluctantly you agree.</p>
  <p>'<%= @puzzle_text %>'</p>
</div>
<% flash.each do |type, msg| %>
  <div class ="alert">
    <%= msg %>
  </div>
<% end %>
<%= form_tag '/game/puzzle-answer', :class => 'puzzle-form', :id => 'puzzle-form' do %>
  <%= label_tag :puzzle_answer%><br>
  <%= text_field_tag :puzzle_answer_input %><br>
  <%= submit_tag "Submit Answer"%>
<%end%>

<% if @correct_answer_found %>
<%= link_to "Move", '/game/page5', class: "button" %>
<% end %>