
<div class="navigation-bar nav-space-between">

  <div class="nav-section">
    <div class="nav-section">
      <%= link_to "How to play", '/how-to-play', class: "navbar-button" %>
    </div>

    <div class="nav-section">
        <h5>USERNAME</h5>
    </div>
  </div>

  <% if !current_page?('/') %>
    <div class="nav-section">
      <h3>BURGER HUNT</h3>
    </div>
  <% end %>


  <div class="nav-section">
        <h3>USERNAME</h3>

    <% if logged_in? %>
      <div class="dropdown dropleft">
        <button class="navbar-button btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pocket
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @pocket.each do |item| %>
            <%= form_tag '/game/equip-item' do %>
              <a class="dropdown-item"><%= item %>
              <% if @equipped_item == item %>
                - Equipped
              <% else %>
                <%= submit_tag "Equip", name: item %>
              <% end %>
              </a>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="nav-section">
        <%= button_to "Log in", '/login', method: :get%>
      </div>
    <% end %>
  
  </div>

</div>
