
<div class="navigation-bar nav-space-between">

  <div class="nav-section">
    <%= button_to "How to play", '/how-to-play', method: :get%>
  </div>

  <% if !current_page?('/') %>
    <div class="nav-section">
      <h3>BURGER HUNT</h3>
    </div>
  <% end %>

  <% if logged_in? && !(current_page?('/') || current_page?('/register') || current_page?('/login'))%>
    <div class="dropdown dropleft">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pocket
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @pocket.each do |item| %>
          <%= form_tag '/game/equip-item' do %>
            <a class="dropdown-item"><%= item %>
            <% if @equipped_item == item %>
              - Equipped
            <% else %>
              <%= submit_tag "Equip", name: item %>
            <% end %>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif logged_in? && current_page?('/') %>
    <div class="nav-section">
      <%= button_to current_user.username, '#', method: :get%>
    </div>
  <% else %>
    <div class="nav-section">
      <%= button_to "Login", '/login', method: :get%>
    </div>
  <% end %>
  
</div>
